
* {
    font-family: verdana;
}   
html {
   
    background-image: linear-gradient( rgb(28, 167, 167), yellow);
    
}
#bands, .albums {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1 {
    
    background-color: rgb(255, 0, 200);
    transition: background-color 2s linear;
    margin: 0;
    padding: .5em;
    border: 2px solid black;
}
.songs {
    background-color: rgb(255, 0, 200);
    transition: background-color 2s linear;   
}
.songs > a {
    padding: 1em;
}

.nav{
    display: flex;
    justify-content: left;
    background-color: rgba(252, 0, 0, 0.863);
    transition: background-color .5s linear;
    border: 2px solid black;
    
}
.nav > a {
    padding: 1em;
    border: 2px solid black;
}
a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.albums > h3 {
    text-align: center;
    
}
a:hover{
    color: black;
    -webkit-text-stroke: 1px white;
    background-color: yellow;
    font-style: oblique;
}
ol {
    border: 1px solid black;
}
li {
    margin: .5em;
    font-size: 1rem;
    font-style: oblique;
    font-weight: bold;
}