
* {
    font-family: verdana;
}   
html {
   
    background-image: linear-gradient( rgb(0, 255, 255), yellow);
    transition: background-color 2s ;
}
#bands, .albums {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    background-color: rgb(255, 0, 200);
    transition: background-color 1s linear;
    margin: 0;
    border: 2px solid black;
}

.nav{
    display: flex;
    justify-content: left;
    background-color: rgba(252, 0, 0, 0.863);
    transition: background-color .5s linear;
    border: 2px solid black;
    
}
.nav > a {
    padding: 1em;
    border: 2px solid black;
}
a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.albums > h3 {
    text-align: center;
    
}
a:hover{
    color: black;
    -webkit-text-stroke: 1px white;
    background-color: yellow;
}
ol {
    border: 1px solid black;
}